<!-- main / welcome section -->
<section id="home"
  class="cover-container d-flex h-100 p-3 mx-auto flex-column align-items-center justify-content-center">
  <main class="px-3 overlay">
    <h1>Welcome！</h1>
    <p class="lead">Expert in learning application Behind the Words!</p>
    <p class="lead">
      <a href="#features" class="btn btn-lg btn-secondary">Explore the application</a>
      <a href="#programs" class="btn btn-lg btn-secondary">How to use </a>
    </p>
  </main>
</section>

<!-- features section -->
<section id="features" class="features bg-warning-subtle py-5">
  <div class="container py-5">
    <h2 class="text-center mb-4">Explore the application</h2>
    <p class="text-center text-muted pb-4">Welcome</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card border-0 pb-5 h-100 d-flex flex-column card-hover">
          <img src="/assets/img/main-1.png" class="card-img-top rounded-top-3" alt="Image 1">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link"> Statistics related to the user's study progress.</h5>
            <p class="card-text text-center">
              displays a calendar tracking study frequency.
            </p>
          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="card border-0 pb-5 card-hover h-100 d-flex flex-column">
          <img src="/assets/img/flash2.png" class="card-img-top rounded-top-3" alt="Image 2">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link">flashcards</h5>
            <p class="card-text text-center">
              It's demonstrating the app's interface where users can create and review flashcards. The red arrows indicate the front (question) and back (answer) of a flashcard, which is a fundamental part of the Anki system. The user sees the question first and then the answer after thinking about it or attempting to recall it.
            </p>
          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="card border-0 pb-5 card-hover h-100 d-flex flex-column">
          <img src="/assets/img/flash3.png" class="card-img-top rounded-top-3" alt="Image 3">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link">Review Process</h5>
            <p class="card-text text-center">
              shows the review process where the app tests the user's knowledge with quick, one-minute session.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- programs section -->
<section id="programs" class="programs bg-success-subtle">
  <div class="container marketing py-5">
    <h2 class="text-center mb-4">How to use</h2>
    <p class="text-center text-muted pb-3">Explore Our application</p>

    <!-- <hr class="featurette-divider"> -->

    <div id="bees4life" class="row featurette py-3 mt-4">
      <div class="col-md-6">
        <h2 class="featurette-heading fw-normal lh-1">
          <span class="program-link">Flashcards.</span>
          <span class="text-body-secondary">
            It’ll blow your mind.</span>
        </h2>
        <p class="lead">An application designed to facilitate efficient learning through the spaced repetition system. Users create flashcards with a question on one side and the answer on the other.</p>
      </div>
      <div class="col-md-5 offset-md-1">
        <img src="/assets/img/flash5.webp" alt="Program 2" class="featurette-image img-fluid">
      </div>
    </div>

    <hr class="featurette-divider">
    <div id="pollination" class="row featurette py-3">
      <div class="col-md-6 order-md-2 offset-md-1">
        <h2 class="featurette-heading fw-normal lh-1">
          <span class="program-link">Gherkin text</span>
          <span class="text-body-secondary">
            See for yourself.</span>
        </h2>
        <p class="lead">The app tracks your progress, offering insights into your learning patterns and mastery of the material. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/assets/img/flash4.png" alt="Program 2" class="featurette-image img-fluid">
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <a href="#allprograms" class="btn btn-primary btn-lg">Explore Programs</a>
      </div>
    </div>

  </div>
</section>


<!-- team member -->
<section id="reviews" class="reviews bg-black text-light bg-opacity-75 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto mt-3 text-center">
        <h2 class="reviews-heading">Team member</h2>
        <p class="reviews-subheading">ESILV</p>
      </div>
    </div>
    <div class="row justify-content-around my-auto">
      <div class="col-md-10 p-4">
        <div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="review-item text-center w-50 mx-auto">
                <h4 class="review-title">Hello：</h4>
                <p class="review-text">
                  <span class="text-center">&quot;</span><br>
                  I hope this message finds you well and enjoying the seamless experience. As the developer behind this project, I want to convey my heartfelt appreciation for your trust and support.
                  <br><span class="text-center">&quot;</span>
                </p>
                <div class="review-author">
                  <img src="/assets/img/logo.png" alt="Profile 1" width="40" height="40"
                    class="rounded-circle review-photo">
                  <div class="author-details">
                    <h5 class="author-name">Wenbo SUI</h5>
                    <p class="from">China，artificial intelligence (AI)</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="review-item text-center w-50 mx-auto">
                <h4 class="review-title">Hi</h4>
                <p class="review-text">
                  <span class="text-center">&quot;</span><br>
                  I wanted to take a moment to express my deepest gratitude for choosing . Your trust and support mean the world to me. It has been an incredible journey developing this software, and knowing that it serves a purpose in your life brings immense joy to the entire team.
                  <br><span class="text-center">&quot;</span>
                </p>
                <div class="review-author">
                  <img src="/assets/img/logo.png" alt="Profile 2" width="40" height="40"
                    class="rounded-circle review-photo">
                  <div class="author-details">
                    <h5 class="author-name">Limin TIAN</h5>
                    <p class="from">China，Student, artificial intelligence (AI)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="review-item text-center w-50 mx-auto">
              <h4 class="review-title">Hi</h4>
              <p class="review-text">
                <span class="text-center">&quot;</span><br>
                I would like to pause and extend my profound thanks for your selection. Your confidence and backing are incredibly valuable to us. The development of this software has been a remarkable experience, and the knowledge that it plays a significant role in your daily routine fills our team with great happiness.
                <br><span class="text-center">&quot;</span>
              </p>
              <div class="review-author">
                <img src="/assets/img/logo.png" alt="Profile 2" width="40" height="40"
                  class="rounded-circle review-photo">
                <div class="author-details">
                  <h5 class="author-name">Meriem Boussaadia</h5>
                  <p class="from">Tunisia，Student, artificial intelligence (AI)</p>
                </div>
              </div>
            </div>
          </div>
        
          <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#reviewCarousel"
            data-bs-slide="prev" aria-label="Previous">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#reviewCarousel"
            data-bs-slide="next" aria-label="Next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

 